
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;box-sizing: border-box;

}
body{
background: radial-gradient(circle at center, #0F172A, #020617 70%);
color: rgb(219, 209, 209);
font-family: "Open Sans", sans-serif;
font-size: 18px;
font-weight: 500;

}
/* Nav Bar */
.header{
  margin: 0 auto;
  margin-top:10px;
  padding: 0px;
  
 max-width:680px;


}

.header ul{
  background: rgba(2, 6, 23, 0.65);
  backdrop-filter: blur(14px);

  list-style: none;
  display: flex;
  align-items:center;    
  justify-content: center;
  gap: 20px;
 
  height: 50px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px;
  white-space: nowrap;
}

.header ul li{
  display: flex;
}

.header a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100%;            
         
  width: 101px;
  height: 50px;
  border-radius: 20px;
  text-decoration: none;
  color: inherit;

  transition: background-color 0.5s ease;
}

.header a:hover{
  background-color: white;
  color: #020617;
}
/* Dot */
.header .pointer{
  display: flex;
  align-items: stretch;
  justify-content: center;

  height: 100%;      

  font-size: 22px;
  line-height: 10;      
  color: #64748B;
  pointer-events: none;
}

.hero{

  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  height:80vh;
  align-items: center;
  text-align: center;
}
.hero .delay-4{
    display: flex;
    gap:70px; 
}
.hero .delay-4 button{
    font-family: inherit;
     padding: 10px 20px;
     border-radius: 20px;
     border: none;
     box-shadow: 8px 7px 16px black;
     cursor: pointer;
     font-size: 15px;
     font-weight: 500;
    
     color: black;
     background: #489dc5;
}
.hero .delay-4 button:hover{
    background-color: #38BDF8;;
     color: rgb(19, 17, 17);
    opacity: 0.8;
    transform: translateY(-1px);
    transition: background-color 0.25s ease,
                 transform 0.25s ease;
}



 .reveal {
  opacity: 0;
  transform: translateY(20px);
  animation: revealText 0.8s ease-out forwards;
}
.delay-0{animation-delay: 0.2s;}
.delay-1 { animation-delay: 0.4s; }
.delay-2 { animation-delay: 0.6s; }
.delay-3 { animation-delay: 0.8s; }
.delay-4 { animation-delay: 1s; }

@keyframes revealText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 





 